<!-- 
All pages inherit from this page, this is the "base" page. 
Think of Java inheritance, but for web pages, eww... 

Contains script tags that tells the browser where to locate the JQuery scripts.
This code is pretty gross since everything is imported globally, if you're familiar with Python
this is equivalent to a bunch of glob imports -> import * from jquery. 

Yeah I know it's pretty ugly...
-->
<!DOCTYPE html>
<html>
    <head>
        <title>HTML :)</title> 
        <script src="/static/js/libs/axios.min.js"></script>
        <script src="/static/js/libs/jquery.min.js"></script>
        <script src="/static/js/libs/js.cookie.min.js"></script>
    
    </head>
    
    <body>
        <script>
        // Function to send heartbeat request to server
        function sendHeartbeat() {
            // Send a request to a specific endpoint on the server
            fetch('/heartbeat')
                .then(response => {
                    // Check if the response indicates server is running
                    if (!response.ok) {
                        // Server is not running, trigger page refresh
                        window.location.reload();
                    }
                })
                .catch(error => {
                    // Error occurred, assume server is not running
                    window.location.reload();
                });
        }

        // Send heartbeat every 5 seconds
        setInterval(sendHeartbeat, 1000);
    </script>
        <!-- The content from any other page goes here -->
        {% block content %} {% endblock %}
    </body>
</html>