<!-- 
    Here you'll find the main exhibit: the chat application code. Feel free to look around!
-->
{% extends 'base.jinja' %}


{% block content %} 
   <style>
    nav {
        border-bottom: 1px solid black;
        overflow: auto
    }

    #message_box {
        border: 1px solid black; 
        height: 400px; 
        width: 800px; 
        overflow: auto;
        padding: 2px;
    }

    .text  {
        margin-top: 2px;
        margin-bottom: 2px;
    }

</style>

<!--Navbar, you'll see the username here-->
<nav style="border-bottom: 1px solid black;">
    <ol style="float: right">
        <li style="display:inline-block">Username:  {{ username }} </li>
    </ol>
</nav>

<h1>Messaging App </h1>

<main>
    <!-- The messages are displayed here -->
    <section id="message_box"></section>

    <!-- These part ideally should be a form element, 
    but I wrote this code a year ago and I don't want to break anything...-->
    <section id="chat_box">
        <p class="text">Chat with: </p>
        <input id="receiver" placeholder="username">
        <!-- MDN says its bad practice to use the onclick attribute,
        but we're using it anyways coz its easy :)-->
        <button onclick="join_room()">Chat</button>
    </section>

    <!-- The (message) input box is set to display: none initially, 
    this means the input box is "invisible" initially-->
    <section id="input_box" style="display: none" >
        <p class="text">Message: </p>
        <input id="message" placeholder="message">
        <button onclick="send()">Send</button>
        <button onclick="leave()">Leave Room</button>
    </section>
</main>

<script src="/static/js/libs/socket.io.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
<script src="/static/js/libs/jsencrypt.min.js"></script>


<script>
    let room_id = 0;
    // when the user presses the "Enter" key inside of the "message box", 
    // the message is sent to the server
    $("#message").on("keyup", (e) => {
        if (e.key == "Enter") {
            send();
        }
    })

    // when the user presses the enter key inside of the "receiver box"
    // the user joins a (socket) room
     $("#receiver").on("keyup", (e) => {
        if (e.key == "Enter") {
            join_room();
        }
    })


    $(document).ready(async () => {
        // room_id is undefined if the user hasn't joined a room
        // we early return in this case
        if (Cookies.get("room_id") == undefined) {
            return;
        }

        // the user has already joined an existing room
        // we'll display the message box, instead of the "Chat with: " box
        $("#chat_box").hide();
        $("#input_box").show();
        room_id = parseInt(Cookies.get("room_id"));
        
        // Generate RSA key pair
        const keyPair = generateRSAKeyPair();
        const privateKey = keyPair.privateKey;
        const publicKey = keyPair.publicKey;

        // Store keys in session storage
        sessionStorage.setItem('privateKey', privateKey);
        sessionStorage.setItem('publicKey', publicKey);
        // console.log("publicKey:", publicKey);
    })
    
    // Here's the Socket IO part of the code
    // things get a bit complicated here so brace yourselves :P
    let username = "{{ username }}";

    Cookies.set('username', username);

    // initializes the socket
    const socket = io();

    // an incoming message arrives, we'll add the message to the message box
    socket.on("incoming", (msg, color="black") => {
        add_message(msg, color);
    })

    // receiver being asked by sender to send the public key
    socket.on("ask_receiver_public_key", () => {
        // sending the public key
        socket.emit("send_receiver_public_key", sessionStorage.getItem("publicKey"), room_id);
        // console.log("receiver sends " + sessionStorage.getItem("publicKey"));
    });

    // sender receives the public key from the receiver and encrypts the secretKey and send to receiver
    socket.on("send_receiver_public_key", async (receiver_public_key) => {
        // console.log("sender receives and send " + sessionStorage.getItem("secretKey"));        
        const encryptedSecretKey = encryptRSA(sessionStorage.getItem("secretKey"), receiver_public_key);
        socket.emit("send_receiver_secret_key", encryptedSecretKey, room_id);
    });

    // receiver receives the encrypted secret key and decrypts it
    socket.on("send_receiver_secret_key", async (encrypted_secret_key) => {
        // decrypts the secret key 
        const privateKey = sessionStorage.getItem("privateKey");
        const decryptedSecretKey = decryptRSA(encrypted_secret_key, privateKey);
        sessionStorage.setItem("secretKey", decryptedSecretKey);
        // console.log("receiver receives secret key" + decryptedSecretKey);
    });


    // Function to generate a random secret key
    function generateSecretKey() {
        // Define the length of the key in bytes (e.g., 16 bytes for a 128-bit key)
        const keyLength = 16; // can be adjusted as needed for different use cases

        // Generate random bytes
        const randomBytes = new Uint8Array(keyLength);
        window.crypto.getRandomValues(randomBytes);

        return randomBytes;
    }

    // Function to generate RSA key pair
    function generateRSAKeyPair() {
        const crypt = new JSEncrypt({ default_key_size: 2048 });
        const privateKey = crypt.getPrivateKey();
        const publicKey = crypt.getPublicKey();
        return { privateKey, publicKey };
    }

    // Function to encrypt using RSA public key
    function encryptRSA(plaintext, publicKey) {
        const crypt = new JSEncrypt();
        crypt.setPublicKey(publicKey);
        return crypt.encrypt(plaintext);
    }

    // Function to decrypt using RSA private key
    function decryptRSA(ciphertext, privateKey) {
        const crypt = new JSEncrypt();
        crypt.setPrivateKey(privateKey);
        return crypt.decrypt(ciphertext);
    }

    // we'll send the message to the server by emitting a "send" event
    function send() {
        // ask the server for the receiver's public key if shared key not established
        if (sessionStorage.getItem("sharedKey") == null) {
            socket.emit("ask_receiver_public_key", room_id);
        }
        let message = $("#message").val();
        $("#message").val("");
        socket.emit("send", username, message, room_id);  
    } 

    // we emit a join room event to the server to join a room
    function join_room() {        
        sessionStorage.removeItem("sharedKey");
        sessionStorage.removeItem("secretKey");

        let receiver = $("#receiver").val();
        if (!{{ friends }}.includes(receiver)) {
            alert("Invalid receiver");
            return;
        }

        // pass in the receiver of our message to the server
        // as well as the current user's username
        socket.emit("join", username, receiver, (res) => {
            // res is a string with the error message if the error occurs
            // this is a pretty bad way of doing error handling, but watevs
            if (typeof res != "number") {
                alert(res);
                return;
            }

            // set the room id variable to the room id returned by the server
            room_id = res;
            Cookies.set("room_id", room_id);

            // now we'll show the input box, so the user can input their message
            $("#chat_box").hide();
            $("#input_box").show();
            let secretKey = generateSecretKey();
            sessionStorage.setItem("secretKey", secretKey);
            
        });
     
    }


    // function when the user clicks on "Leave Room"
    // emits a "leave" event, telling the server that we want to leave the room
    function leave() {
        Cookies.remove("room_id");
        sessionStorage.removeItem("sharedKey");
        sessionStorage.removeItem("secretKey");
        socket.emit("leave", username, room_id);
        $("#input_box").hide();
        $("#chat_box").show();
    }

    // function to add a message to the message box
    // called when an incoming message has reached a client
    function add_message(message, color) {
        let box = $("#message_box");
        let child = $(`<p style="color:${color}; margin: 0px;"></p>`).text(message);
        box.append(child);
    }
    
</script>
{% endblock %}