<!-- 
    Here you'll find the main exhibit: the chat application code. Feel free to look around!
-->
{% extends 'base.jinja' %}


{% block content %} 
   <style>
    nav {
        border-bottom: 1px solid black;
        overflow: auto
    }

    #message_box {
        border: 1px solid black; 
        height: 400px; 
        width: 800px; 
        overflow: auto;
        padding: 2px;
    }

    .text  {
        margin-top: 2px;
        margin-bottom: 2px;
    }

</style>

<!--Navbar, you'll see the username here-->
<nav style="border-bottom: 1px solid black;">
    <ol style="float: right">
        <li style="display:inline-block">Username:  {{ username }} </li>
    </ol>
</nav>

<h1>Messaging App </h1>

<main>
    <!-- The messages are displayed here -->
    <section id="message_box"></section>

    <!-- These part ideally should be a form element, 
    but I wrote this code a year ago and I don't want to break anything...-->
    <section id="chat_box">
        <p class="text">Chat with: </p>
        <input id="receiver" placeholder="username">
        <!-- MDN says its bad practice to use the onclick attribute,
        but we're using it anyways coz its easy :)-->
        <button onclick="join_room()">Chat</button>
    </section>

    <!-- The (message) input box is set to display: none initially, 
    this means the input box is "invisible" initially-->
    <section id="input_box" style="display: none" >
        <p class="text">Message: </p>
        <input id="message" placeholder="message">
        <button onclick="send()">Send</button>
        <button onclick="leave()">Leave Room</button>
    </section>
</main>

<script src="/static/js/libs/socket.io.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
<script>
    let room_id = 0;
    // when the user presses the "Enter" key inside of the "message box", 
    // the message is sent to the server
    $("#message").on("keyup", (e) => {
        if (e.key == "Enter") {
            send();
        }
    })

    // when the user presses the enter key inside of the "receiver box"
    // the user joins a (socket) room
     $("#receiver").on("keyup", (e) => {
        if (e.key == "Enter") {
            join_room();
        }
    })


    $(document).ready(() => {
        // room_id is undefined if the user hasn't joined a room
        // we early return in this case
        if (Cookies.get("room_id") == undefined) {
            return;
        }

        // the user has already joined an existing room
        // we'll display the message box, instead of the "Chat with: " box
        $("#chat_box").hide();
        $("#input_box").show();
        room_id = parseInt(Cookies.get("room_id"));
        
        // Generate public and private keys
        const { publicKey, privateKey } = generateKeys();
        sessionStorage.setItem("publicKey", publicKey);
        sessionStorage.setItem("privateKey", privateKey);
        console.log("Public" + sessionStorage.getItem("publicKey"))
    })
    
    // Here's the Socket IO part of the code
    // things get a bit complicated here so brace yourselves :P
    let username = "{{ username }}";

    Cookies.set('username', username);

    // initializes the socket
    const socket = io();

    // an incoming message arrives, we'll add the message to the message box
    socket.on("incoming", (msg, color="black") => {
        add_message(msg, color);
    })

//this is from where i need to get my secret key for hdk key exchange 
    // receiver being asked by sender to send the public key
    socket.on("ask_receiver_public_key", () => {
        // sending the public key
        socket.emit("send_receiver_public_key", sessionStorage.getItem("publicKey"), room_id)
        // console.log("receiver sends " + receiver_public_key);
    });

    // sender receives the public key from the receiver and encrypts the secretKey and send to receiver
    socket.on("send_receiver_public_key", (receiver_public_key) => {
        // console.log("sender receives " + receiver_public_key);
        //encrypts the receiver public key 
        const encryptedSecretKey = encryptAES(receiver_public_key, key);
        socket.emit("send_receiver_secret_key", encryptedSecretKey, room_id)
    });

    // receiver receives the encrypted secret key and decrypts it
    socket.on("send_receiver_public_key", (encrypted_secret_key) => {
        // console.log("receiver receives secret key" + encrypted_secret_key);
        // decrypts the secret key 
        const encryptedSecretKey = decryptAES(encrypted_secret_key, sessionStorage.getItem("privateKey"));
    });
//till here is sending and receiving the secret key 

    // Function to encrypt data using AES
    function encryptAES(data, key) {
        // Convert the key and data to WordArray objects
        const keyWordArray = CryptoJS.enc.Hex.parse(key);
        const dataWordArray = CryptoJS.enc.Utf8.parse(data);

        // Perform AES encryption
        const encrypted = CryptoJS.AES.encrypt(dataWordArray, keyWordArray, {
            mode: CryptoJS.mode.ECB, // ECB mode is used here
            padding: CryptoJS.pad.Pkcs7 // Padding scheme
        });

        // Convert the encrypted data to a Base64-encoded string
        const encryptedBase64 = encrypted.toString();
        return encryptedBase64;
    }

    // Function to decrypt data using AES
    function decryptAES(encryptedData, key) {
        // Convert the key to a WordArray object
        const keyWordArray = CryptoJS.enc.Hex.parse(key);

        // Convert the encrypted data from Base64 to a WordArray object
        const encryptedWordArray = CryptoJS.enc.Base64.parse(encryptedData);

        // Perform AES decryption
        const decrypted = CryptoJS.AES.decrypt(
            { ciphertext: encryptedWordArray },
            keyWordArray,
            {
                mode: CryptoJS.mode.ECB,
                padding: CryptoJS.pad.Pkcs7
            }
        );

        // Convert the decrypted data to a Utf8-encoded string
        const decryptedData = decrypted.toString(CryptoJS.enc.Utf8);

        return decryptedData;
    }

        //this is how random keys are generated 
    // Function to generate a random secret key
    function generateSecretKey() {
        // Define the length of the key in bytes (e.g., 16 bytes for a 128-bit key)
        const keyLength = 16; // You can adjust the length as needed for your use case

        // Generate random bytes
        const randomBytes = CryptoJS.lib.WordArray.random(keyLength);

        // Convert the random bytes to a hexadecimal string
        const keyHex = randomBytes.toString(CryptoJS.enc.Hex);
        return keyHex;
    }

    // Function to generate Diffie-Hellman keys  //may be it is not the function to generate diffie hellman keys because u r hashign the private key 
    function generateKeys() {
        // Generate a random private key (simulating private key generation)
        const privateKey = CryptoJS.lib.WordArray.random(16).toString();

        //hashing the private key 
        const publicKey = CryptoJS.SHA256(privateKey).toString();

        return { publicKey, privateKey };
    }

    // Function to calculate MAC for a message
    function calculateMAC(message, key) {
        // Calculate HMAC-SHA256 using the shared key
        const hmac = CryptoJS.HmacSHA256(message, key);
        return hmac.toString();
    }


    // we'll send the message to the server by emitting a "send" event
    function send() {
        // ask the server for the receiver's public key
        if (sessionStorage.getItem("sharedKey") != undefined) {
            socket.emit("ask_receiver_public_key", room_id);
        }

        let message = $("#message").val();
        //let sharedKey = sessionStorage.getItem("sharedKey");
        //let mac = calculateMAC(message, sharedKey); // Calculate MAC for the message
        $("#message").val("");
        socket.emit("send", username, message, room_id);  
    } 

    //functions related to the encryption of the messages 
    //common parameter 
    const common_param = generateSecretKey(); 
    
    //function to generate random private keys
    const private_key = generateSecretKey(): 

    const sender_publickey = CryptoJS.DH(common_param, private_key);
    //convert the shared secret into hex 
    const sender_publickey_hex = sender_publickey.toString(CryptoJS.enc.Hex);
    //send the public key to the other user 
    socket.emit("senders public key ", sender_publickey_hex);

    //recive the other user public key 
    socket.on("otheruser public key",othere_public) 
    const shared_secret = CryptoJS.DH(other_public, private_key);
    
    
    //send the shared secret to the receiver 
    socket.emit("", room_id);
    //
    //function to recieve the public key to receiver
    socket.on("", (encrypted_secret_key) => {
        console.log("receiver receives secret key" + encrypted_secret_key);
    }); 
    

    
    
    
    

    // we emit a join room event to the server to join a room
    function join_room() {        
        let receiver = $("#receiver").val();
        if (!{{ friends }}.includes(receiver)) {
            alert("Invalid receiver");
            return;
        }

        // pass in the receiver of our message to the server
        // as well as the current user's username
        socket.emit("join", username, receiver, (res) => {
            // res is a string with the error message if the error occurs
            // this is a pretty bad way of doing error handling, but watevs
            if (typeof res != "number") {
                alert(res);
                return;
            }

            // set the room id variable to the room id returned by the server
            room_id = res;
            Cookies.set("room_id", room_id);

            // now we'll show the input box, so the user can input their message
            $("#chat_box").hide();
            $("#input_box").show();
            let secretKey = generateSecretKey();
            sessionStorage.setItem("secretKey", secretKey);

        });
     
    }


    // function when the user clicks on "Leave Room"
    // emits a "leave" event, telling the server that we want to leave the room
    function leave() {
        Cookies.remove("room_id");
        socket.emit("leave", username, room_id);
        $("#input_box").hide();
        $("#chat_box").show();
    }

    // function to add a message to the message box
    // called when an incoming message has reached a client
    function add_message(message, color) {
        let box = $("#message_box");
        let child = $(`<p style="color:${color}; margin: 0px;"></p>`).text(message);
        box.append(child);
    }
    
</script>
{% endblock %}
