<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academic Platform for Students</title>
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="style.css">
    <!-- Link to your JavaScript file -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <header >

        <h1>Academic Platform for Students</h1>
        <h2 class="nav-heading">
            <nav>
            <a href="#">Forum</a>
            <a href="#">Messaging</a>
            <a href="#">Profile</a>
            <a href="#">Log out</a>
            </nav>
        </h2>
    </header>

    <main>

        <div class="row">
        <div class="column left">
            <h2 class="picture"> profile picture </h2>
            <h2>{{user.username}}</h2>
        </div>
        <div class="column middle">
            <h2>Friends list</h2>
            <ul>
                {% for friend in user.friends %}
                    <li>{{ friend.name }}</li>
                {% endfor %}

            </ul>
            <h2 class="addnewfriend">To add new friend</h2>
            
            <input type="text" id="newFriend" placeholder="Enter friend's name">
            <button onclick="addFriend()">Add Friend</button>
            
        </div>

        <div class="column right">
            <h2>Summary of Article</h2>
        </div>
        </div>
 
    </main>
    <footer>
        <!-- Footer content -->
    </footer>

</body>
</html>
