<!-- 
Sign up page, pretty much the same as login.
-->
{% extends 'base.jinja' %}


{% block content %} 
    <style>
        body {
            font-family: 'Arial', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .login-container {
            text-align: center;
            margin-top: -100px;
        }

        .input-container {
            margin-bottom: 10px;
        }

        .input-container input {
            border-radius: 5px;
            padding: 8px;
            width: 200px;
            font-family: 'Arial', sans-serif;
        }

        .login-button, .signup-button {
            background-color: #04AA6D;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 12px 30px;
            cursor: pointer;
            font-family: 'Arial', sans-serif;
            margin-right: 10px;
        }

        h1 {
            font-size: 36px;
        }

        p {
            font-size: 18px;
        }
    </style>

    <div class="login-container">
        <h1>Welcome to UsydHelp!</h1>
        <p>Academic Platform for Students</p>

        <h2>Sign Up</h2>
        <div class="input-container">
            <input id="username" placeholder="Username">
        </div>
        
        <div class="input-container">
            <input id="password" type="password" placeholder="Password">
        </div>

        <button class="login-button" onclick="signup()">Sign up</button>
    </div>

    
    <!-- CryptoJS library for hashing password -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>

    <script>
         function isValidURL(string) {
            if (string.length == 0) {
                return false;
            }
            if (string[0] == "/") {
                return true;
            }
            return false;
        }

        function hashPassword(password) {
            return CryptoJS.SHA256(password).toString();
        }

        // this function is identical to login(), see login.jinja
        async function signup() {
            let username = $("#username").val();
            let password = $("#password").val();
            let hashedPassword = hashPassword(password); // Hash the password

            let signupURL = "{{ url_for('signup_user') }}";
            let res = await axios.post(signupURL, {
                username: username,
                password: hashedPassword
            });
            if (!isValidURL(res.data)) {
                alert(res.data);
                return;
            }
            window.open(res.data, "_self")
        }
    </script>
{% endblock %}
